<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skillbee</title>
    <link rel="stylesheet" href="resources/css/style.css" />
    <link rel="icon" type="image/x-icon" href="resources/images/favicon.ico" />
  </head>

  <body>
    <main>
      <div class="activitycontainer">
        <div id="key">{{KEY}}</div>
        <h1 id="heading"><b>{{ACTIVITY}}</b></h1>

        <b id="quote">OUTDOOR & SPORTING GOODS COMPANY</b>
        <br />
        <button class="explorebtn">
          EXPLORE MORE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⟶
        </button>
        <br />
        <p id="specialgoods">We have more special goods for you🚀</p>
        <br />
        <div class="count">
          <div class="adventureproduct">
            <p>MORE THAN</p>
            <h1><b>50+</b></h1>
            <p><b>ADVENTURE PRODUCT</b></p>
          </div>
          <div class="outlet">
            <p>MORE THAN</p>
            <h1><b>75+</b></h1>
            <p><b>OUTLET IN INDONESIA</b></p>
          </div>
        </div>
      </div>
      <div class="price">
        <p id="pricetag">PRICE</p>
        <br />
        <p id="pricenumber">{{PRICE}}</p>
      </div>
    </main>
    <footer>
      <div class="panel">
        <div class="accessibility">
          <img src="resources/images/card-send.png" alt="" />
          <div class="details">
            <p id="accessibilitytag">ACCESSIBILITY</p>
            <h2>0.32</h2>
          </div>
        </div>
        <div class="type">
          <img src="resources/images/shield-tick.png" alt="" />
          <div class="details">
            <p id="typetag">TYPE</p>
            <h2>{{TYPE}}</h2>
          </div>
        </div>
      </div>
      <img src="resources/images/heroimage.png" alt="" class="images" />
    </footer>
  </body>
</html>
